apiVersion: apps/v1
kind: Deployment
metadata:
  name: gibster-backend
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: backend
        env:
        - name: ENVIRONMENT
          value: "development"
        - name: LOG_LEVEL
          value: "DEBUG"
        - name: FRONTEND_BASE_URL
          value: "http://localhost:3000"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gibster-frontend
spec:
  replicas: 1
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gibster-celery
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: celery
        env:
        - name: ENVIRONMENT
          value: "development"
        - name: LOG_LEVEL
          value: "DEBUG"