apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- backend-deployment.yaml
- frontend-deployment.yaml
- celery-deployment.yaml
- configmap.yaml

commonLabels:
  app: gibster
  
namespace: gibster